/* Mode Dark */
body.dark header .title-box .title {
    color: var(--ColorWhite);;
}
body.dark header .title-box p {
    color: var(--ColorLight);
}
body.dark header .toggle-mode {
    color: var(--ColorLight);
}
body.dark header .toggle-mode input[type=checkbox]::before {
    background: var(--BgLight);
}
body.dark main .followers .card,
body.dark main .grid-overview .card {
    background: var(--BgDarkCard);
}
body.dark main .followers .card:hover,
body.dark main .grid-overview .card:hover {
    filter: brightness(140%);
}