:root {
    /* Colors Primary */
    --ColorWhite: hsl(0, 0%, 100%);
    --ColorLight: hsl(229, 44%, 88%);
    --LimeGreen: hsl(163, 72%, 41%);
    --BrightRed: hsl(356, 69%, 56%);
    --Facebook: hsl(195, 100%, 50%);
    --Twitter: hsl(203, 89%, 53%);
    --YouTube: hsl(348, 97%, 39%);
    --Instagram: linear-gradient(hsl(37, 97%, 70%),
                             hsl(329, 70%, 58%));
    

    /* Dark Theme */
    --ToggleBtnDark: linear-gradient(to right,hsl(210, 78%, 56%),
    hsl(146, 68%, 55%));
    --BgDark: hsl(228, 28%, 20%);

    /* Light Theme */
    --ToggleBtnLight: hsl(230, 22%, 74%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    background-color: var(--BgDark);
}
body .container {
    padding: 0 10%;
}