header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5em 0;
}
header .title-box .title {
    color: var(--ColorWhite);
}
header .title-box p {
    color: var(--ColorLight);
    font-weight: 700;
}
header .toggle-mode {
    display: flex;
    align-items: center;
    color: var(--ColorLight);
    font-weight: 700;
    font-size: 16px;
}
header .toggle-mode input[type=checkbox] {
    -webkit-appearance: none;
    width: 90px;
    height: 40px;
    border-radius: 100px;
    margin-left: 20px;
    background: var(--ToggleBtnDark);
    cursor: pointer;
    outline: 0;
    position: relative;
}
header .toggle-mode input[type=checkbox]::before {
    content: '';
    height: 40px;
    width: 40px;
    border-radius: 50px;
    transform: scale(0.8);
    background: var(--BgDark);
    transition: background 0.3s;
    position: absolute;
}
main .followers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
}
main .followers .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    border-radius: 8px;
    background: var(--BgDarkCard);
    position: relative;
}
main .followers .card::before {
    content: '';
    position: absolute;
    height: 5px;
    border-radius: 8px 8px 0 0;
    left: 0;
    right: 0;
    top: 0;
}
main .followers .card.facebook::before {
    background: var(--Facebook);
}
main .followers .card.twitter::before {
    background: var(--Twitter);
}
main .followers .card.instagram::before {
    background: var(--Instagram);
}
main .followers .card.youtube::before {
    background: var(--YouTube);
}
main .followers .card .username {
    display: flex;
    justify-content: center;
    color: var(--ColorLight);
}
main .followers .card .username img {
    margin-right: 10px;
}
.card .count-follow {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0;
    font-size: 1.1em;
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: var(--ColorLight);
}
.card .count-follow span {
    font-size: 4em;
    font-weight: 700;
    letter-spacing: 0;
    color: var(--ColorWhite);
}
.card span {
    display: flex;
    align-items: center;
    color: var(--LimeGreen);
    font-weight: 700;
}.card span.down {
    color: var(--BrightRed);
}
.card span img {
    margin-right: 5px;
}